---
import { Image } from 'astro:assets';

const { src, title, description, tags } = Astro.props;
---

<Image class='aspect-video' src={src} alt={title} />

<Image class='aspect-video' {src} alt={title} />
<div class='flex'>
  <h5>{title}</h5>

  <div class='flex'>
    <a href='git'></a>
    <a href='git'></a>
  </div>
</div>
<p class='line-clamp-3'>{description}</p>
